.myaccount {
  width: 50vw;
}

.container-account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myaccount-container h2 {
  font-size: 2.5rem;
  font-size: 1.7rem;
}

.myaccount-container h3 {
  margin-bottom: 20px;
}

.myaccount-info {
  width: 93.5%;
  padding: 40px;
  margin-bottom: 20px;
}

.myaccount-info input {
  display: block;
  width: 100%;
  background: #ebecfe;
  padding: 15px;
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  resize: none;
}

@media screen and (max-width: 768px) {
  .myaccount {
    width: 95vw;
  }
}
