.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  background: #767ab9;
}

.sidebar-item {
  display: flex;
  align-items: center;
  background: #8e8fa3;
  cursor: pointer;
  font-weight: 700;
  color: white;
  margin-right: 0.5px;
}

.sidebar-item p {
  margin-left: 15px;
}
