.productdisplay {
  display: flex;
  padding-top: 50px;
}

.productdisplay-left {
  margin: 0px 60px;
}

.productdisplay-main-img {
  height: 550px;
}

.productdisplay-right {
  margin: 0px 0px 0px 60px;
  display: flex;
  flex-direction: column;
}

.productdisplay-right h1 {
  color: #000000;
  font-size: 35px;
  font-weight: 600;
}

.productdisplay-right-prices {
  display: flex;
  margin: 25px 0px;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
}

.productdisplay-right-category {
  margin-top: 5px;
  font-size: 16px;
}

.productdisplay-right-category span {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .productdisplay {
    flex-direction: column;
  }

  .productdisplay-left {
    margin: 0px 5vw;
  }

  .productdisplay-main-img {
    max-width: 80vw;
    height: auto;
  }
}
