.item {
  width: 350px;
  margin: 0px 10px;
}

.item-img {
  width: 350px;
  height: auto;
}

.item p {
  margin: 6px 0px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.item-prices {
  display: flex;
  gap: 30px;
}

.item-price-old {
  font-weight: 600;
}

.item-price-new {
  font-weight: 500;
}

.item:hover {
  transform: scale(1.03);
  transition: 0.5s;
}
